<% provide(:title, t('app.title')) %>


<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1 class="task-app-title"><%= t('app.title') %></h1>
      <p class="task-app-description">TaskAppは簡易ToDo管理ツールです。</p>

      <% unless logged_in? %>
        <p class="first-time-guide">↓↓初めてのご利用↓↓</p>
        <%= link_to t('app.signup'), signup_path, class: "btn btn-lg btn-primary account-create-btn" %>
      <% end %>
    </div>

    <div class="col-md-6">
      <div style="display: flex; justify-content: center;">
        <div class="login-form-container" style="max-width: 350px; width: 350px;">
          <style>
            @media (max-width: 767px) {
              .login-form-container {
                max-width: none !important;
                width: 100% !important;
              }
            }
          </style>

          <% if logged_in? %>
            <div style="text-align: center;">
              <p class="welcome-message"><%= t('app.welcome_message', name: current_user.name) %></p>
              <div style="margin-top: 20px;">
                <%= link_to t('app.task_list'), tasks_path, class: "btn btn-lg btn-primary", style: "margin-bottom: 10px; width: 100%;" %>
                <br>
                <%= link_to t('app.logout'), logout_path, method: :delete, class: "btn btn-lg btn-secondary", style: "width: 100%;" %>
              </div>
            </div>
          <% else %>
            <h3 style="text-align: center;"><%= t('app.login') %></h3>
            <%= form_with(scope: :session, url: login_path, local: true, class: "login-form") do |f| %>
              <div class="form-group">
                <%= f.label :email, "メールアドレス" %>
                <%= f.email_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password, "パスワード" %>
                <%= f.password_field :password, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %>
                  ログイン状態を保持する
                <% end %>
              </div>
              <%= f.submit t('app.login'), class: "btn btn-primary login-btn" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
